@media (min-width: 576px) {
  :root {
    --size-divisor: 2;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992px) { 
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200px) { 
  :root {
    --size-divisor: .67;
  }
}

body {
  background-color: rgb(57, 55, 55);
}

border {
  border-color: rgb(231, 215, 69);
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(195, 195, 195);
  flex-shrink: 1;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(217, 216, 216);
  flex-shrink: 1;
}

button {
  color: white;
  flex-shrink: 1;
}